02-kubernetes/clusterconfig
04-argocd-apps/ente/ente-credentials-secret.yaml
04-argocd-apps/ente/credentials.yaml
04-argocd-apps/ente/ente-credentials-secret-base64.yaml
04-argocd-apps/ente/new-creds
04-argocd-apps/ente/sealed.sh