---
clusterName: ${ClusterName}
talosVersion: v1.8.1
kubernetesVersion: v1.27.0
endpoint: https://192.168.200.10:6443
domain: ${domain}
allowSchedulingOnMasters: true
additionalMachineCertSans:
  - 10.30.0.200
additionalApiServerCertSans:
  - ${ClusterName}.local
clusterPodNets:
  - 10.244.0.0/16
clusterSvcNets:
  - 10.96.0.0/12
cniConfig:
  name: custom
  urls:
    - https://raw.githubusercontent.com/bjw-s/home-ops/main/infrastructure/talos/cluster-0/cni/install.yaml
patches:
  - "@./uservolumeconfig3.yaml"
nodes:
  - hostname: talmaster01
    userVolumes:
      - name: ceph-data
        provisioning:
          diskSelector:
            match: disk.transport == "nvme"
          maxSize: 50GiB
        filesystem:
          type: xfs
        encryption:
          provider: luks2
          keys:
            - slot: 0
              tpm: {}
            - slot: 1
              static:
                passphrase: topsecret
      - name: sata
        provisioning:
          diskSelector:
            match: disk.transport == "sata"
          minSize: 100GiB
    volumes:
      - name: EPHEMERAL
        provisioning:
          diskSelector:
            match: disk.transport == "nvme"
          maxSize: 50GiB
    ingressFirewall:
      defaultAction: block
      rules:
        - name: kubelet-ingress
          portSelector:
            ports:
              - 10250
            protocol: tcp
          ingress:
            - subnet: 172.20.0.0/24
              except: 172.20.0.1/32
    ipAddress: 10.30.0.10
    controlPlane: true
    machineSpec:
      mode: metal
      arch: amd64
      useUKI: true
      secureboot: true
    schematic:
      overlay:
        name: rock64
        image: siderolabs/sbc-rockchip
      customization:
        extraKernelArgs:
          - net.ifnames=0
        systemExtensions:
          officialExtensions:
            - siderolabs/intel-ucode
            - siderolabs/tailscale
    machineFiles:
      - content: "@./tsauth.env"
        permissions: 0o644
        path: /var/etc/tailscale2/auth.env
        op: create
    installDiskSelector:
      size: 4GB
      model: WDC*
      # TODO: broken since Talos 1.9 and I need to investigate
      # name: /sys/block/sda/device/name
      # busPath: /pci0000:00/0000:00:17.0/ata1/host0/target0:0:0/0:0:0:0
    nodeLabels:
      rack: rack1a
      zone: us-east-1a
      isSecureBootEnabled: >-
        {{
          .MachineConfig.MachineInstall.InstallImage |
          contains "installer-secureboot"
        }}
    nodeAnnotations:
      rack: rack1a
      installerUrl: '{{ .MachineConfig.MachineInstall.InstallImage }}'
    nodeTaints:
      mytaint: mytaints:NoSchedule
    disableSearchDomain: true
    kernelModules:
      - name: br_netfilter
        parameters:
          - nf_conntrack_max=131072
    nameservers:
      - 1.1.1.1
      - 8.8.8.8
    networkInterfaces:
      - interface: eth0
        bond:
          deviceSelectors:
            - hardwareAddr: "00:50:56:*"
        addresses:
          - 10.30.0.10/16
        mtu: 1500
  - hostname: talworker01
    ipAddress: 10.30.0.11
    controlPlane: false
    installDisk: /dev/sdb
    nameservers:
      - 1.1.1.1
      - 8.8.8.8
    networkInterfaces:
      - interface: eth0
        bond:
          deviceSelectors:
            - hardwareAddr: "00:50:56:*"
        addresses:
          - 10.30.0.11/16
        mtu: 1500
controlPlane:
  patches:
    - |-
      machine:
        kubelet:
          extraArgs:
            feature-gates: GracefulNodeShutdown=true,MixedProtocolLBService=true
            rotate-server-certificates: "true"
    - "@./extraKernelArgs-patch.yaml"
worker:
  ingressFirewall:
    defaultAction: block
    rules:
      - name: apid-ingress
        portSelector:
          ports:
            - 50000
          protocol: tcp
        ingress:
          - subnet: 10.96.0.0/12
  patches:
    - |-
      machine:
        kubelet:
          extraArgs:
            feature-gates: GracefulNodeShutdown=false,MixedProtocolLBService=false
            rotate-server-certificates: "true"
  schematic:
    customization:
      systemExtensions:
        officialExtensions:
          - siderolabs/intel-ucode
